@charset "utf-8";

* {
	/* TODO: 필요한 CSS를 채워넣어 보세요! */
	margin: 0;
	padding: 0;
	background-color: rgb(233, 205, 168);
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
  padding-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: flex-start;
	align-items: center;
}

header {
	width: 1065px;
	height: 70px;
	border-radius: 4px;
	display: flex;
	justify-content: flex-end;
  align-items: top;
}

div {
	display: inline-block;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.interact {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}
.interact button {
	width: 100%;
	text-wrap: nowrap;
	border: none;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 16px;
	box-shadow: rgb(226, 169, 94) 0px 5px 15px;
	border-radius: 4px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

.title-area {
  width: 155px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.title-area div {
	position: relative;
	margin-right: 5px;
}
input {
  cursor: pointer;
}
input[type] {
  width: 150px;
	height: 40px;
  padding-left: 10px;
  text-align: left;
	font-size: 16px;
	border: none;
	box-shadow: rgb(226, 169, 94) 0px 5px 15px;
	border-radius: 4px;
}
.title-area button {
	padding: 2px 6px;
	margin-right: 6px;
	position: absolute;
	top: 8px;
	right: 0;
	border-color: rgb(240, 229, 215); 
	border-radius: 4px;
}
.title-area button:hover {
	color: rgb(240, 229, 215);
	border-color: rgb(231, 158, 63);
	cursor: pointer;
}
.title-area span {
	color: rgb(230, 136, 13);
}

textarea {
  display: none;
	height: 700px;
	width: 900px;
	border-radius: 4px;
  font-size: 16px;
	background-color: rgb(240, 229, 215);
	box-shadow: rgb(226, 169, 94) 0px 5px 15px;
	padding: 20px;
	outline: none;
	border: none;
	resize: vertical;
}
textarea::placeholder {
	font-size: 16px;
	color: rgb(165, 165, 165);
}

.title-area .visible input {
  background-color: rgb(240, 229, 215);
}

.text-area .visible {
  display: block;
}